.sidebar {
    flex: 2;
    height: calc(100vh - 50px);
    background-color: #F1F6F9;
    overflow-y: scroll;
}

.sidebar.profile {
    flex: 2;
    height: calc(100vh + 333px);
    background-color: #F1F6F9;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: #D8D9DA;
}

::-webkit-scrollbar-thumb {
    background-color: #61677A;
}

.sidebarWrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    padding: 20px;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.sidebarListItem:hover {
    opacity: 0.7;
    background-color: #8BBCCC;
    border-radius: 10px;
    color: white;
}

.sidebarIcon {
    margin-right: 20px;
}

.sidebarBtn {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #865DFF;
    color: white;
    align-self: center;
    margin-top: 5px;
    cursor: pointer;
}

.sidebarBtn:hover {
    opacity: 0.7;
    background-color: #E5B8F4;
    color: white;
}

.sidebarHr {
    margin: 20px 0px;
    background-color: #18122B;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}